@model IEnumerable<WebAppJsonCrud.Models.User>

@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Get All</h1>
@if (TempData["SuccessDeleted"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SuccessDeleted"].ToString()</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<p>
    <button class="btn btn-success" id="create-user-button">Create user</button> | <a asp-action="SearchForm">Search</a>
</p>
<!--Modal Create-->
<div id="modal-create" class="modal fade" data-url="@Url.Action("Create")">
    <div id="create-user-form"></div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $("#create-user-button").click(function () {
            let url = $("#modal-create").data("url");
            $.ajax({
                url: url,
                type: "GET",
                success: function (res) {
                    $("#create-user-form").html(res);
                    $("#modal-create").modal("show");
                }
            })
        })
    </script>
}
